body {
    text-align: center;
    background-color: #011F3F;
}

#page-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;

}
  
.game-board
{
	width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #FEF2BF;
  border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box
{
  border: 2px solid #FEF2BF;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FEF2BF;
  
}


.score{
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
    color: #FEF2BF;
    font-family: 'Press Start 2P', cursive;
}

.start {
    position: relative;
    background-color: #011F3F;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    color: #FEF2BF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20%;
    border: solid;
    margin: 0 auto;
    transform: scale(0.6);
  }
  
  .start:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .start:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  

